{% extends 'master.html' %}
{% block body %}

<h1>Movie: {{movie.name}}</h1>

{% if prediction %}
<h3>We predict you will rate this movie {{prediction}}.</h3>
{% else %}
<p>You rated this movie {{rating.rating}}</p>
{% endif %}

<h2>Rate this movie</h2>
<form action="{{url_for('rate_movie', movie_id=movie.id)}}" method="post">
    <select name="rating">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit">
</form>

<h2>See how other people rated this movie</h2>
<form action="{{url_for('movie_ratings', movie_id=movie.id)}}" method="post">
    <input type="submit" value="Go">
</form>

{%endblock %}